<template>
  <div>
    <!-- <div v-bind:class="{active:IsActive}"></div>  -->

    <QuestionItem
      v-for="(question) in questions"
      :key="question.id"
      v-bind:question="question"
      v-on:update-answers="HandleAnswer"
    ></QuestionItem>
   
  </div>


</template>

<script>
import QuestionItem from "./QuestionItem";
import ResultComponent from "./ResultComponent";

import axios from "axios";

export default {
  name: "QuestionList",

  components: {
    QuestionItem
  },

  beforeCreate() {
    // let Questiontemp=[{}];

    axios
      .get("https://opentdb.com/api.php?amount=10&type=boolean")
      .then(resp => resp.data.results)
      .then(resp => {
        resp.forEach((element, index) => {
          element["id"] = index;
          element["Show"] = false;
        });

        this.questions = resp;

        this.questions[0].Show = true;
        const Answer = 0;
      });
  },
  data() {
    return {
      questions: [
        {
          type: false,
          question: "",
          difficulty: "",
          correct_answer: "",
          incorrect_answers: [],
          category: ""
        }
      ]
    };
  },
  methods: {
    HandleAnswer(id, e) {
      const buttonValue = e.target.value;

          this.questions[id].incorrect_answers[0] =
            this.questions[id].correct_answer === buttonValue;
            this.questions[id].Show=false;
      if (id === 9) {
        this.GoToNextPage();
        
      } else {
       this.questions[id+1].Show=true
      }
    },
    GoToNextPage() {
     const correctAnswers =  this.CountCorrectAnswers()
      return this.$router.push({ path: `./answer/${correctAnswers}` });  
    
    
         
    },
    
    CountCorrectAnswers() {
      var countAnswer = 0;
      // var arrAnswer = [];

      for (var i = 0; i < this.questions.length; i++) {
        //Incorrect answer/ false
        if (!this.questions[i].incorrect_answers[0]) {
          // arrAnswer.push();
          countAnswer++;
        }
      }
   
      console.log(countAnswer);
      return countAnswer;
    },
   
  }
};
</script>

<style scoped>
</style>