<template>
    
    <div v-if="question.Show">
        
    <h4>Category: {{question.category}}</h4>
    <span>difficulty:{{question.difficulty}}</span>
    <p>Question:  {{question.question}}</p>
     <p>Question:  {{question.length}}</p>
   
    
    <button value="True" v-on:click="onHandleAnswer($event)">true</button>
    <button value="False" v-on:click="onHandleAnswer($event)">False</button>

   
  
</div>


</template>

<script>
export default {
  name: "Question-item",
  props: [
    "question" 
  ],
 
  methods: {
    onHandleAnswer(e) {
     
      this.$emit("update-answers", this.question.id,e);
    },

  
  }
};
</script>


<style scoped>
</style>