<template>
<div>
<h1>Result</h1>

<p>{{this.getparams()}}</p>
<p>{{this.GameResult()}}</p>
</div>


    
</template>

<script>


export default {
    name:"answer",
    data(){
        return{
            answer:this.$route.params["corrects"]
        }

    },
    
     methods:{

         getparams(){

             console.log(this.$route.params["corrects"]);
         },

          GameResult() {
      var message = null;
      if (this.answer > 5) {
        if (this.answer < 8) {
        return `You won with ${this.answer} points`;
      
         
        } else {
        
        return(`You are a Master and won with ${this.answer } points`);
         
        }
      }
     return`Sorry you lose with ${this.answer} plase points try again `;
           
    }
     }


  
   
 
    
}


</script>



<style>

</style>