<template>
 <div id="app">
  
   <!-- <h1>Welcome to the trivia game </h1> -->
   <QuestionList></QuestionList>
  <router-view></router-view>
 
  </div>
  

</template>  
 

<script>
import QuestionList from './components/QuestionList'

export default {
  name: 'app',
  components: {
 QuestionList

  }
  
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;


}
</style>
